*.pyc
*.xml
*.iml
AppleTest1/data.xlsx

debugproj/.idea/.name

debugproj/A-large-practice.in

debugproj/A-small-practice.in

debugproj/main.py

debugproj/results.out

user/jordankidd/GITHUB/Homework

RedditReader/.swp
NewProcess/build/*
NewProcess/dist/*
python_c/build/*
RedditReader/build/*
RedditReader/dist/*
*.spec
*.so
.vscode/*